.git
.gitignore
.venv
venv
**/__pycache__
**/*.pyc
**/*.pyo
**/.dart_tool
**/build
**/dist
**/node_modules
mobile/.gradle
mobile/android/.gradle
mobile/android/local.properties
frontend/.angular
frontend/node_modules
backend/uploads
*.log

